{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
        {{ product.metadescription|truncatewords:155 }}
{% endblock %}
{% block titile %}
    {% if product %}
    {{product.name}} - abskln 
    {% endif %}
    {% endblock %}
{% block body%}
<div>
    <div>
            <p  class="abclass"><a href="{% url 'shopapp:index' %}" >Home</a>|<a class="abclass" href="{{product.catagory.get_url}} ">{{product.catagory}}</a>|{{product.name}} </p>
    </div>
</div><br>
<div class="container">
    <div class="row">
        
        <div class="col-6">
            <img  src="{{product.image.url}} "  style="width: 400px; height: 500px;" alt="{{product.name}}">
        </div>
 

        <div class="col-6">
        <h1>{{product.name}} </h1>
        <p style="color: red;">${{product.price}}</p>
        <h4>product description</h4>
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">{{product.description}} </p>
        {% if product.stock <= 0 %}
        <p><b>Out of stock</b></p>
        {% else %}
        <a class="btn btn-secondary" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;" href="{% url 'cart:add_cart' product.id %} ">Add to cart</a>
        {% endif %}</div>
    </div>
</div>
{% endblock %}
