{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
our collections are given below

{% endblock %}
{% block tittle %}
search 
{% endblock %}
{% block body %}
<div>
    <p class="text-center my_search_text">You have searched for : <b>{{query}}</b></p>
</div>

<div class="container">
    <div  class="row">
        {% for i in products %}
        <div class="col-3">

            <div >
                <a href="{{i.get_url}}"><img style="height:100px ; width: 100px;" src="{{i.image.url}} "  alt="{{i.name}}"></a>
                <div>
                    <h4>{{i.name}}</h4>
                    <p>{{i.price}}</p>
                </div>
            </div>
            
        </div>
        {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text">0 result found</p>
        </div>
        {% endfor %}
</div>
</div>
        
{% endblock %}